{# Formulaire de base (pour les formulaires simples) #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# Formulaire de suppression avec SweetAlert #}
<form method="post" action="{{ path('app_societe_delete', {'id': societe.id}) }}" 
      onsubmit="confirmDelete(event, 'Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ societe.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash me-1"></i> Delete
    </button>
</form>