{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}


{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Designation</th>
                <th>PrixUnitaire</th>
                <th>UniteMesure</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Tva</th>
                <th>Actif</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.reference }}</td>
                <td>{{ article.designation }}</td>
                <td>{{ article.prixUnitaire }}</td>
                <td>{{ article.uniteMesure }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.categorie }}</td>
                <td>{{ article.tva }}</td>
                <td>{{ article.actif ? 'Yes' : 'No' }}</td>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.dateModification ? article.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
